---
layout: default
title: Al-Fatihah
permalink: /1
---
<div class="uk-container uk-margin-medium-top uk-margin-medium-bottom"> 
{% for item in site.data.quran.surah_1 %}
 <h3>{{ item.latin_name }} ({{ item.name }})</h3>
 <div class="mediPlayer"><audio class="listen" preload="none" data-size="18" src="{{ item.audio_surah }}"></audio></div>
 <hr/>
 {% for item in item.text %}
  <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin">
   <h3 class="uk-card-title ar">{{ item.ref }}</h3>
  </div>
 {% endfor %}
{% endfor %}
</div>
