---
layout: default
title: Al-Fatihah
permalink: /1
---
<div class="uk-container uk-margin-medium-top uk-margin-medium-bottom"> 
{% for item in site.data.quran.surah %}
 <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin">
 <h3>{{ item.latin_name }}</h3><hr/>
 {% for ayat in item.text %}  
  <h3 class="uk-card-title ar">{{ ayat }}</h3>
  {% for audio in item.text.audio %}
  <div class="mediPlayer"><audio class="listen" preload="none" data-size="18" src="{{ audio }}"></audio></div>
  {% endfor %}
 {% endfor %}
 </div>
{% endfor %}
</div>
