*,
*:after,
*:before {
    box-sizing             : border-box;
    -webkit-box-sizing     : border-box;
    -moz-box-sizing        : border-box;
    -webkit-font-smoothing : antialiased;
    -moz-font-smoothing    : antialiased;
    -o-font-smoothing      : antialiased;
    font-smoothing         : antialiased;
    text-rendering         : optimizeLegibility;
}    
html{
    --bg: #37474f;
    --color-heading: rgb(27, 168, 14); 
    --color-text: #d9d9d9;
    --bg-navbar: #37474f;
    --bg-card: #263238;
}
html[data-theme='dark'] {
    --bg: #000100;
    --color-heading: #0077ff; 
    --color-text: #ffffff;
    --bg-navbar: #000100;
    --bg-card: #000100;
}
.mediPlayer .control {
    opacity        : 0; /* transition: opacity .2s linear; */
    pointer-events : none;
    cursor         : pointer;
}
.mediPlayer .not-started .play, .mediPlayer .paused .play {
    opacity : 1;
}
.mediPlayer .playing .pause {
    opacity : 1;
}
.mediPlayer .playing .play {
    opacity : 0;
}
.mediPlayer .ended .stop {
    opacity        : 1;
    pointer-events : none;
}
.mediPlayer .precache-bar .done {
    opacity : 0;
}
.mediPlayer .not-started .progress-bar, .mediPlayer .ended .progress-bar {
    display : none;
}
.mediPlayer .ended .progress-track {
    stroke-opacity : 1;
}
.mediPlayer .progress-bar,
.mediPlayer .precache-bar {
    transition        : stroke-dashoffset 500ms;

    stroke-dasharray  : 298.1371428256714;
    stroke-dashoffset : 298.1371428256714;
}    

.sun-and-moon > :is(.moon, .sun, .sun-beams) {
  transform-origin: center;
}

.sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill);
}

.theme-toggle:is(:hover, :focus-visible) > .sun-and-moon > :is(.moon, .sun) {
  fill: var(--icon-fill-hover);
}

.sun-and-moon > .sun-beams {
  stroke: var(--icon-fill);
  stroke-width: 2px;
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon > .sun-beams {
  stroke: var(--icon-fill-hover);
}

[data-theme="dark"] .sun-and-moon > .sun {
  transform: scale(1.75);
}

[data-theme="dark"] .sun-and-moon > .sun-beams {
  opacity: 0;
}

[data-theme="dark"] .sun-and-moon > .moon > circle {
  transform: translateX(-7px);
}

@supports (cx: 1) {
  [data-theme="dark"] .sun-and-moon > .moon > circle {
    cx: 17;
    transform: translateX(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon > .sun {
    transition: transform .5s var(--ease-elastic-3);
  }

  .sun-and-moon > .sun-beams {
    transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3);
  }

  .sun-and-moon .moon > circle {
    transition: transform .25s var(--ease-out-5);
  }

  @supports (cx: 1) {
    .sun-and-moon .moon > circle {
      transition: cx .25s var(--ease-out-5);
    }
  }

  [data-theme="dark"] .sun-and-moon > .sun {
    transition-timing-function: var(--ease-3);
    transition-duration: .25s;
    transform: scale(1.75);
  }

  [data-theme="dark"] .sun-and-moon > .sun-beams {
    transition-duration: .15s;
    transform: rotateZ(-25deg);
  }

  [data-theme="dark"] .sun-and-moon > .moon > circle {
    transition-duration: .5s;
    transition-delay: .25s;
  }
}

.theme-toggle {
  --size: 1rem;
  --icon-fill: hsl(0, 0%, 85%);
  --icon-fill-hover: hsl(0, 0%, 85%);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px;

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }

  @nest [data-theme="dark"] & {
    --icon-fill: hsl(0, 0%, 85%);
    --icon-fill-hover: hsl(0, 0%, 85%);
  }

  @media (hover: none) {
    --size: 24px;
  }
}

@custom-media --motionOK (prefers-reduced-motion: no-preference);

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  color-scheme: light;

  &[data-theme="dark"] {
    color-scheme: dark;

    @supports not (color-scheme: dark) {
      background: #37474f !important; 
    }
  }
}
html, body { 
    background-color: var(--bg) !important;
    color: var(--color-text) !important;
}
.uk-card, .uk-card-default, .uk-card-body {
    background-color: var(--bg-card) !important;
    color: var(--color-text) !important;
}
p, h3, .uk-card-title {
    color: var(--color-text) !important;
}
.dynamic-content { display:none; }    
.ar {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--color-text) !important;
}
.uk-fixed-navigation {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: var(--bg) !important;
    color: var(--color-text) !important;
}
.uk-fixed-navigation, .uk-navbar{
 padding: 0 10px !important;
 z-index: 999 !important;
}
